<ion-view name="time-sheet-view" class="time-sheet-view">
    <ion-header-bar class="bar-custom">
        <h2 class="title">{{viewTitle}}</h2>
        <div class="buttons secondary">
            <button class="button button-icon ion-plus-round" ng-click="enterTimeSheet()"></button>
        </div>
    </ion-header-bar>

    <div class="bar bar-subheader bar-default">
        <h2 class="title">{{currentWeek}} - week {{weekNumber}} - Submitted</h2>
    </div>

    <div class="calendar-area">
        <calendar format-month-title="MMMM" event-source="calendar.eventSource" monthview-display-event-template-url="monthviewDisplayEventTemplateUrl" show-event-detail="false" title-changed="onViewTitleChanged(title)" time-selected="onTimeSelected(selectedTime, events, disabled)"
            ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-selected="onEventSelected(event)" step="15"></calendar>
    </div>
    <ion-content class="main-content has-footer">
        <div class="list-area">
            <div class="list">
                <div class="item">
                    <div style="overflow: hidden; text-overflow: ellipsis;width: 80%;float:left;">
                        <h2>ABC Software</h2>
                        <p>Time Management System | TMS-101 [Refresh Media] | 12hr</p>
                    </div>
                    <span class="item-note" style="line-height: 41px;">
                        4hr
                    </span>
                </div>
                <div class="item">
                    <div style="overflow: hidden; text-overflow: ellipsis;width: 80%;float:left;">
                        <h2>ABC Software</h2>
                        <p>Time Management System | TMS-101 [Refresh Media] | 12hr</p>
                    </div>
                    <span class="item-note" style="line-height: 41px;">
                        4hr
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-custom button-footer-bar custom-footer" style="padding:0;border:none;">
        <button style="border-radius:0px;width: 100%;font-size: 16px;" class="button button-custom">Submit</button>
    </ion-footer-bar>
</ion-view>