<ion-view name="time-sheet-view" class="time-sheet-view">
    <ion-header-bar class="bar-positive">
        <h2 class="title">{{viewTitle}}&nbsp;({{totalHours}} hrs) Submitted</h2>
        <div class="buttons secondary">
            <button class="button button-icon ion-plus-round" ng-click="enterTimeSheet()"></button>
        </div>
    </ion-header-bar>


    <div class="calendar-area">
        <calendar show-event-detail="false" title-changed="onViewTitleChanged(title)" time-selected="onTimeSelected(selectedTime, events, disabled)" ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-selected="onEventSelected(event)" step="15"></calendar>
    </div>

    <ion-content class="main-content has-footer">
        <div class="list-area">
            <div class="list">
                <div class="item">
                    <h2>ABC Software</h2>
                    <p>Time Management System | TMS-101 [Refresh Media] | 12hr</p>
                </div>
                <div class="item">
                    <h2>ABC Software</h2>
                    <p>Time Management System | TMS-101 [Refresh Media] | 12hr</p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <button class="button button-positive" ng-click="changeMode('month')">Month</button>
        <button class="button button-positive" ng-click="changeMode('week')">Week</button>
        <button class="button button-positive" ng-disabled="isToday()" ng-click="today()">Today</button>
    </div>
</ion-view>