<ion-view name="time-sheet-view" class="time-sheet-view">
    <ion-header-bar class="bar-custom">
        <h2 class="title">{{viewTitle}}</h2>
        <div class="buttons secondary">
            <button class="button button-icon ion-plus-round" ng-click="enterTimeSheet()"></button>
        </div>
    </ion-header-bar>

    <div class="bar bar-subheader bar-default">
        <div class="subheader-text text-center">{{currentWeek}} <span style="color:#1c94c9;">({{timesheetPeriod.TimesheetStatus}})</span></div>
    </div>

    <div class="calendar-area">
        <calendar format-month-title="MMMM" event-source="calendar.eventSource" monthview-display-event-template-url="monthviewDisplayEventTemplateUrl" show-event-detail="false" title-changed="onViewTitleChanged(title)" time-selected="onTimeSelected(selectedTime, events, disabled)"
            ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-selected="onEventSelected(event)" step="15"></calendar>
    </div>
    <ion-content class="main-content" ng-class="{'has-footer':timesheetPeriod.DisableTimeEntry == 'false'}">
        <div class="list-area">
            <div class="list" ng-if="timeEntries.length > 0">
                <div class="item-divider" style="padding:8px;">
                    Time Entry Details
                    <span style="float: right;" ng-if="totalHours != null">Total Hours: {{totalHours}}</span>
                </div>
                <a href class="item" ng-repeat="te in timeEntries" ng-click="entrySelected(te)">
                    <div style="overflow: hidden; text-overflow: ellipsis;width: 80%;float:left;">
                        <h2>{{te.ProjectName}}</h2>
                        <p>{{te.ClientName}} | {{te.TaskName}}</p>
                    </div>
                    <span class="item-note" style="line-height: 41px;">
                        {{te.TotalTime | date: 'HH:mm'}}
                    </span>
                </a>
            </div>
            <div class="row" ng-if="timeEntries.length == 0">
                <div class="col text-center">
                    Add new entry on top right corner!
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-custom button-footer-bar custom-footer" style="padding:0;border:none;" ng-if="timesheetPeriod.DisableTimeEntry == 'false'">
        <button style="border-radius:0px; width:100%;" class="button button-custom loginButton" ng-click="submit()">Submit</button>
    </ion-footer-bar>
</ion-view>