<ion-view title="Login" class="login-view">
    <ion-nav-bar class="bar-custom"></ion-nav-bar>
    <ion-content class="has-header">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="row">
                        <div class="col text-center">
                            <img style="width: 50%;" src="app/images/ot-logo.png" />
                        </div>
                    </div>
                    <div class="list login-list">
                        <div class="item item-input item-floating-label">
                            <span class="input-label custom">URL</span>
                            <input type="text" placeholder="URL" ng-model="loginData.base_url" ng-disabled="enableURL">
                            <button class="button button-small button-clear button-custom pull-right textbox-inset-button" ng-click="toggleURL()">
                                <i class="icon ion-edit"></i>
                            </button>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label custom">Username</span>
                            <input type="text" placeholder="Username" ng-model="loginData.username">
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label custom">Password</span>
                            <input type="password" placeholder="Password" ng-model="loginData.password" ng-show="enablePassword">
                            <input type="text" placeholder="Password" ng-model="loginData.password" ng-show="!enablePassword">
                            <button class="button button-small button-clear button-custom pull-right textbox-inset-button" ng-click="togglePassword()">
                                <i class="icon ion-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="errorMessage">
                        <div class="col assertive text-center">
                            {{errorMessage}}
                        </div>
                    </div>
                    <div class="padding">
                        <button class="button button-custom" ng-click="login()" style="width: 100%;">Login</button>
                    </div>
                    <div class="row">
                        <div class="col text-center text-muted">
                            v{{appVersion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>