.calendar-area {
    height: 312px;
    margin-top: 88px;
}

.time-sheet-view .has-header {
    top: 400px;
}

.ionic_timepicker_popup .heading,
.ionic_timepicker_popup .button_set,
.ionic_timepicker_popup .button_close {
    background-color: #1c94c9 !important;
}

ion-item.item {
    color: #1c94c9;
}

.pull-right {
    float: right;
}

.cell {
    height: 37px;
}

.monthview-submitted {
    background-color: #6396fb;
    color: white;
}

.monthview-approved {
    background-color: #44ca6f;
    color: white;
}

.monthview-not-submitted {
    background-color: #f3d71b;
    color: white;
}

.monthview-rejected {
    background-color: #ff9999;
    color: white;
}

.submitted {
    color: #6396fb;
}

.approved {
    color: #44ca6f;
}

.not-submitted {
    color: #f3d71b;
}

.rejected {
    color: #ff9999;
}

.monthview-current {
    background-color: lightgrey !important;
}

.monthview-selected {
    background-color: #00BCD4 !important;
}

.time-entry-view,
.login-view {
    background: #e1e0e5;
}

.button-text-custom {
    color: #1c94c9 !important;
    padding: 0px !important;
}

.time-entry-view .card {
    margin: 15px;
}

.total-hours {
    display: inline-block;
    line-height: 48px;
    color: #1c94c9 !important;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.timer-popup .popup-head {
    display: none;
}

.timer-popup .popup-body {
    background: #e5e5e5;
    text-align: center;
    font-size: 35px;
}

.timer-popup .popup-body {
    padding: 60px 0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin: 0 10px;
    border-radius: 4px;
}

.manual-time-entry {
    margin: 5px 16px !important;
    width: auto !important;
    padding-top: 5px !important;
    border-radius: 3px !important;
    background: #fff;
}

.table>tbody>tr>td {
    padding: 4px !important;
}

.monthview-slide {
    height: auto;
}

.subheader-text {
    width: 100%;
    line-height: 34px;
}

.no-padding {
    padding: 0px;
}

.duration-box .item {
    padding: 13px 6px 13px 6px;
    border-radius: 3px;
    background: #f8f8f8;
    margin: 0;
}

.duration-box .button {
    min-height: 30px;
    font-size: 16px;
    line-height: 26px;
}

.login-list {
    margin-bottom: 0px;
}

.home-row {
    height: 25%;
}

.home-disabled {
    background: #e0e0e0;
    opacity: 0.5;
    margin: 5px;
}

.home-image {
    width: 60px;
    margin-top: 15%;
}

.home-label {
    font-size: 13px;
}

.home-view {
    background: #e8f5ff;
    color: #5b6166;
}

.textbox-inset-button {
    position: absolute;
    top: 35px;
    right: 10px;
}