.calendar-area {
    height: 312px;
    margin-top: 88px;
}

.time-sheet-view .has-header {
    top: 400px;
}

.ionic_timepicker_popup .heading,
.ionic_timepicker_popup .button_set,
.ionic_timepicker_popup .button_close {
    background-color: #1c94c9 !important;
}

ion-item.item {
    color: #1c94c9;
}

.pull-right {
    float: right;
}

.cell {
    height: 37px;
}

.monthview-logged-background {
    background-color: #CDDC39;
    color: white;
}

.monthview-current {
    background-color: lightgrey !important;
}

.monthview-selected {
    background-color: #00BCD4 !important;
}

.time-entry-view,
.login-view {
    background: #e1e0e5;
}

.button-text-custom {
    color: #1c94c9 !important;
    margin-left: 5px;
    padding: 0px 16px !important;
}

.time-entry-view .card {
    margin: 15px;
}

.total-hours {
    display: inline-block;
    line-height: 48px;
    color: #1c94c9 !important;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.timer-popup .popup-head {
    display: none;
}

.timer-popup .popup-body {
    background: #e5e5e5;
    text-align: center;
    font-size: 35px;
}

.timer-popup .popup-body {
    padding: 60px 0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin: 0 10px;
    border-radius: 4px;
}

.manual-time-entry {
    margin: 10px 16px !important;
    width: auto !important;
    padding-top: 5px !important;
    border-radius: 5px !important;
    background: #fff;
}

.table>tbody>tr>td {
    padding: 4px !important;
}

.monthview-slide {
    height: auto;
}

.subheader-text {
    width: 100%;
    line-height: 34px;
}