<ion-view title="Home" class="home-view">
    <ion-nav-bar class="bar-custom">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-power" ng-click="logout()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-divider">
                My Stuff
            </div>
            <div class="row no-padding">
                <div class="col text-center" ng-click="timeTracking()" style="margin:5px;">
                    <img src="app/images/TimesheetApproval.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">My Timesheet</div>
                </div>
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/MyProjects.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">My Projects</div>
                </div>
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/MyTasks.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">My Tasks</div>
                </div>
            </div>
            <div class="row no-padding" style="margin-top:0;">
                <div class="col text-center home-disabled" ng-click="others()" ng-click>
                    <img src="app/images/MyTimeoff.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">My Timeoff</div>
                </div>
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/MyAttendance.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">My Attendance</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Approvals
            </div>
            <div class="row home-row">
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/ExpenseApproval.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">Expense Approval</div>
                </div>
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/TimeoffApproval.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">Timeoff Approval</div>
                </div>
                <div class="col text-center home-disabled" ng-click="others()">
                    <img src="app/images/TimesheetApproval.png" class="home-image" alt="browser does not support images">
                    <div class="custom home-label">Timesheet Approval</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>