<ion-view title="Home" class="home-view">
    <ion-nav-bar class="bar-custom">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-power" ng-click="logout()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="row home-row">
            <div class="col text-center" ng-click="timeTracking()" ng-click>
                <img src="app/images/MyTimeoff.png" class="home-image" alt="browser does not support images">
                <div>My Timesheet</div>
            </div>
            <div class="col text-center" ng-click="others()" ng-click>
                <img src="app/images/MyTasks.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>My Tasks</div>
            </div>
        </div>
        <div class="row home-row">
            <div class="col text-center" ng-click="others()">
                <img src="app/images/MyAttendance.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>My Attendance</div>
            </div>
            <div class="col text-center" ng-click="others()">
                <img src="app/images/MyProjects.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>My Projects</div>
            </div>
        </div>
        <div class="row home-row">
            <div class="col text-center" ng-click="others()">
                <img src="app/images/MyTimeoff.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>My Timeoff</div>
            </div>
            <div class="col text-center" ng-click="others()">
                <img src="app/images/ExpenseApproval.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>Expense Approval</div>
            </div>
        </div>
        <div class="row home-row">
            <div class="col text-center" ng-click="others()">
                <img src="app/images/TimeoffApproval.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>Timeoff Approval</div>
            </div>
            <div class="col text-center" ng-click="others()">
                <img src="app/images/TimesheetApproval.png" class="home-image" alt="browser does not support images" style="opacity:0.4">
                <div>Timesheet Approval</div>
            </div>
        </div>
    </ion-content>
</ion-view>