<ion-view title="Time Sheet Entry" name="login-view">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label custom">
                    Client
                </div>
                <select ng-model="selected.client" ng-options="client.Name for client in clients">
                    <option value="">--choose--</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label custom">
                    Project
                </div>
                <select ng-model="selected.project" ng-options="project.Name for project in projects">
                    <option value="">--choose--</option>
                </select>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="saveTimeSheet()">Save</button>
        </div>
    </ion-content>
</ion-view>