<ion-view title="Time Sheet Entry" class="time-entry-view">
    <ion-nav-bar class="bar-custom">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="card">
            <div class="list">
                <label class="item item-input item-select" ng-if="timesheetPreferences.ShowClientInTimesheet == 'true'">
                    <div class="input-label custom">
                        Client
                    </div>
                    <select ng-model="selected.client" ng-options="client.ClientName for client in clients" ng-change="getAssignedProjectsByClients(selected.client)">
                        <option value="">--choose--</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label custom">
                        Project
                    </div>
                    <select ng-model="selected.project" ng-options="project.ProjectName for project in projects" ng-change="getAssignedTasks(selected.project)">
                        <option value="">--choose--</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label custom">
                        Task
                    </div>
                    <select ng-model="selected.task" ng-options="task.TaskName for task in tasks" ng-change="taskSelected(selected.task)">
                        <option value="">--choose--</option>
                    </select>
                </label>
                <label class="item item-input item-select" ng-if="timesheetPreferences.ShowWorkTypeInTimeSheet == 'true'">
                    <div class="input-label custom">
                        Work Type
                    </div>
                    <select ng-model="selected.workType" ng-options="workType.AccountWorkType for workType in workTypes">
                        <option value="">--choose--</option>
                    </select>
                </label>
                <label class="item item-input item-select" ng-if="timesheetPreferences.ShowCostCenterInTimeSheet == 'true'">
                    <div class="input-label custom">
                        Cost Center
                    </div>
                    <select ng-model="selected.costCenter" ng-options="costCenter.CostCenterName for costCenter in costCenters">
                        <option value="">--choose--</option>
                    </select>
                </label>
                <div class="item item-toggle" style="padding-bottom: 5px;" ng-if="timesheetPreferences.ShowBillableInTimesheet == 'true'">
                    <span class="custom">Is Billable?</span>
                    <div class="col col-25 text-center">
                        <label class="toggle toggle-custom">
                            <input type="checkbox" ng-model="newTimesheetEntry.IsBillable">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:0px; padding-bottom:0px;">
            <div class="col" style="padding-top:0px; padding-bottom:0px;">
                <button ng-click="startTimer()" class="button button-stable button-text-custom icon-left ion-android-stopwatch">Start Timer</button>
            </div>
            <div class="col no-padding text-center" style="padding:0px 10px 0px 0px;">
                <div class="total-hours custom">
                    Total Hours: {{selected.totalHours | number: 2}}
                </div>
            </div>
        </div>
        <div class="row manual-time-entry" style="margin: 10px 0px;">
            <div class="col col-80" style="padding: 0">
                <div class="row" style="padding: 0">
                    <div class="col text-center" style="padding: 0">
                        <b class="custom">Start</b>
                    </div>
                    <div class="col text-center" style="padding: 0">
                        <b class="custom">Stop</b>
                    </div>
                    <div class="col text-center" style="padding: 0">
                        <b class="custom">Duration</b>
                    </div>
                </div>
                <div class="row" style="padding: 0; margin: 0;">
                    <div class="col text-center" style="padding-bottom: 0;" ng-click="pickStartTime()">
                        <div style="border-bottom: 1px dashed;width: 70%;margin: auto;">{{timepicked.Start | date: 'hh:mm'}}</div>
                    </div>
                    <div class="col text-center" style="padding-bottom: 0;" ng-click="pickEndTime()">
                        <div style="border-bottom: 1px dashed;width: 70%;margin: auto;">{{timepicked.Stop | date: 'hh:mm'}}</div>
                    </div>
                    <div class="col text-center" style="padding-bottom: 0;">
                        {{timepicked.Duration | date: 'hh:mm'}}
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <button ng-click="addLoggedTime()" class="button button-small button-custom button-outline" style="margin-top: 5px;border-radius: 15px;width: 50px;">Add</button>
            </div>
        </div>
        <div class="card" ng-if="loggedInTimes.length > 0">
            <div class="item item-divider">
                Logged in time
            </div>
            <div class="row">
                <div class="col text-center">
                    <b class="custom">Start</b>
                </div>
                <div class="col text-center">
                    <b class="custom">Stop</b>
                </div>
                <div class="col text-center">
                    <b class="custom">Duration</b>
                </div>
                <div class="col text-center">
                    <b class="custom">Action</b>
                </div>
            </div>
            <div class="row" ng-repeat="lot in loggedInTimes">
                <div class="col text-center">{{lot.Start | date: 'hh:mm'}}</div>
                <div class="col text-center">{{lot.Stop | date: 'hh:mm'}}</div>
                <div class="col text-center">{{lot.Duration}}</div>
                <div class="col text-center">
                    <i class="icon ion-trash-b custom" ng-click="deleteTime($index)"></i>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-custom" ng-click="saveTimeSheet()">Save</button>
        </div>
    </ion-content>
</ion-view>